{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% include 'etc/sidebar.html' %}
    {% include 'etc/navbar.html' %}

    <div class="container-fluid pt-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col" class="column1">작성자</th>
                        <th scope="col" class="column2">파일명</th>
                        <th scope="col" class="column1">등록일</th>
                        <th scope="col" class="column1">다운로드</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>세상 분석</td>
                        <td>정제 데이터</td>
                        <td>2023-12-14</td>
                        <td><a class="btn btn-sm btn-primary" href="https://drive.google.com/drive/folders/1Cpa7J5TiWUfSpNCIycleW2d6EuG7rcP-?usp=drive_link">다운로드</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% include 'etc/footer.html' %}
</div>
{% endblock %}