
{% load static %}

<div class="left-side-bar">
    <div class="status-ico">
        <span>▶</span>
        <span>▼</span>
    </div>

    <ul>
        <li>
            <a class="side_a" href="{% url 'index' %}">Home</a>

        </li>
        <li>
            <a class="side_a" href="{% url 'map' %}">Map</a>

        </li>
        <li>
            <a class="side_a" href="{% url 'data' %}">Data</a>

        </li>
        <li>
            <a class="side_a" href="{% url 'report' %}">Report</a>

        </li>
        <li>
            <a class="side_a" href="https://prezi.com/view/I51yboYWUHQLw42RkEzl/" target="_blank">사용설명서</a>

        </li>


    </ul>
</div>