body {
    background-image: linear-gradient(180deg, var(--bs-secondary-bg), var(--bs-body-bg) 100px, var(--bs-body-bg));
    
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  strong{
    font-size: 20px;
}
a {  text-align: center;  text-decoration: none; /* 링크의 밑줄 제거 */  color: inherit; /* 링크의 색상 제거 */}


.container {
    max-width: 1100px;
  }
 
  

  .button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.custom-button {
    flex: 1;
    margin-right: 10px; /* 우측 마진 추가 */
    color: black; /* 폰트 색상 변경 */
    border: none; /* 테두리 제거 */
    background: none; /* 배경 제거 */
    padding: 0; /* 패딩 제거 */
    font-size: 22px; /* 원하는 글자 크기 설정 */
}
input ,textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/

}

     .column1 {
      width: 100px; /* 첫 번째 열의 너비 */
    }

    .column2 {
      width: 250px;
    }


.hidden {
          display: none;
    }
        

input[type=submit] {
    margin-top:10px;
}

.map_img {
    all: initial;
    position: relative;
    left: -100px;
}


.tac{
    text-align: center;
}
.tal{
text-align: left;
}
.tar{
    text-align: right;
}

/*side bar*/

.side_a {
    color: inherit;
    text-decoration: none;
}

.left-side-bar > ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f4f6f7;
    z-index: 1;
}

.left-side-bar {
    background-color: #f4f6f7;
    height: 100%;
    width: 180px;
    position: fixed;
    left: -155px;
    transition: left .3s;
    z-index: 1;
}

.left-side-bar > .status-ico {
    text-align: right;
    padding: 10px;
    z-index: 1;
}

.left-side-bar > ul li {
    position: relative;
    z-index: 1;
}

.left-side-bar ul {
    font-weight: bold;
    text-align: center;
    padding: 0;
    z-index: 1;
}

.left-side-bar ul > li > a {
    display: block;
    padding: 10px;
    white-space: nowrap;
    z-index: 1;
}

.left-side-bar:hover {
    left: 0;
    z-index: 1;
}

.left-side-bar ul > li:hover ul {
    display: block;
    z-index: 1;
}

.left-side-bar ul > li:hover > a {
    color: white;
    background-color: rgb(231, 231, 231);
    z-index: 1;
}

.left-side-bar > .status-ico > span:last-child {
    display: none;
    z-index: 1;
}

.left-side-bar:hover > .status-ico > span:last-child {
    display: block;
    z-index: 1;
}

.left-side-bar:hover > .status-ico > span:first-child {
    display: none;
    z-index: 1;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}

/*/side bar*/
/*button css*/
.btn-outline-primary {
    border-color: black;
    color: #000000;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    border-width: 1px; 
}
  .btn-primary:hover,
    .btn-secondary:hover,
    .btn-success:hover,
    .btn-danger:hover,
    .btn-warning:hover,
    .btn-info:hover,
    .btn-light:hover,
    .btn-dark:hover,
    .btn-link:hover {
        background-color: #f4f6f7;
        color: initial;
    }
/* /button css*/

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .feature-icon-small {
    width: 3rem;
    height: 3rem;
  }

    .btn-primary:hover, .btn-secondary:hover, .btn-success:hover, .btn-danger:hover, .btn-warning:hover, .btn-info:hover, .btn-light:hover, .btn-dark:hover, .btn-link:hover {
            background-color: #f4f6f7;
            color: initial;
    }

/* POST_form css*/


.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-size: 10px;
color: #6C6C6C;
font-weight: bold;
letter-spacing: 1px;
}

/* /post_form css*/
/* post_list css*/

    .truncate-title {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .truncate-content {
        max-width: 480px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .post-list-td,.post-list-th{
        text-align: center;
    }



    
/* /post_list css*/
/* post_detail css */

    .post-detail-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


    .post-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    }


    .post-name {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    }


    .post-content {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
    }
    
     .login-btm {
        float: left;
        text-align: center;
    }
    .signup-btm {
        float: right;
        text-align: center;
    }
/* /post_detail css */

/* login css*/


.login-box {
    margin-top: 30px;
    height: auto;
    background: #f4f6f7;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: black;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

.login-input-text {
    background-color: white;
    border: none;
    border-bottom: 2px solid white;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: black;
}

.login-input-pw {
    background-color: white;
    border: none;
    border-bottom: 2px solid white;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: black;
}

.login-form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid white;
    outline: 0;
    background-color: white;
    color: black;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}


.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.login-btm {
    float: right;
}
.signup-btm {
    float: left;
}

    
.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}
.signup-button {
    padding-left: 0px;
    text-align: left;
    margin-bottom: 25px;
}


.loginbttm {
    padding: 0px;
}

/* /login css*/

/* reg css*/


    /* /reg css*/

/* footer css*/
.footer{height: 100px;background: #ffffff;margin-top: auto;display: flex;justify-content: space-around;} 
.footer-box{display: flex;flex-flow: column;justify-content: center;}
.footer-box-box{height: auto;margin: 10px 0px 10px 0px;font-size: 12px;color:#192E61;}
.footer-box div .logo{color:#192E61}
.logo{font-weight: 800;font-size: 30px;  color: #192E61;border:none;letter-spacing: -3px; text-decoration: none;}
/* /footer css*/
.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 200px;
  height: 450px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}
.truncate-title:hover,
.truncate-content:hover {
    cursor: pointer;
    text-decoration: underline;
}
.back-map{
    background-image: url('{%static "pictures/map.png" %}');
  }
  .back-data{
    background-image: url('{%static "pictures/data.jpg" %}');
  }
  .back-report{
    background-image: url('{%static "pictures/report.png" %}');
  }
    .custom-div {
        /* 다양한 배경 속성을 사용하여 스타일을 지정할 수 있습니다. */
        background-size: cover; /* 이미지를 커버하도록 조정 */
        background-position: center; /* 이미지를 가운데 정렬 */
        /* 다른 스타일 속성들을 필요에 따라 추가할 수 있습니다. */
        /* 예: width, height, padding, margin 등 */
        position: relative;
        isolation: isolate;
  
    }
    .custom-div ::after {
      content: '';
    position: absolute;
    background: white;
    z-index: -1;
    inset: 0;
    opacity: 0.4;
    }

    .footer-box-box a.logo:hover {
        text-decoration: none;
    }
